<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="clickable" routerLink="/">Money Transfer App <fa-icon icon="piggy-bank"></fa-icon></span>
  <span class="example-spacer"></span>

  <div>
    <span class="nav-menu-item clickable" routerLink="/profile">Profile</span>
    <span class="nav-menu-item clickable" routerLink="/transfers">Transfers</span>
  </div>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
